*, *::after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  border-radius: none;
  -webkit-border-radius: 0;
}

/* Colors */

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  
  --text-light: hsl(255, 36%, 17%);
  --accent1-light: hsl(175, 100%, 31%);
  --accent2-light: hsl(21, 84%, 56%);
  --accent3-light: hsl(40, 89%, 65%);
  --bkg1-light: hsl(0, 0%, 100%);
  --bkg2-light: hsl(26, 37%, 96%);
  --shadow-light: 20px 20px 50px hsl(255, 36%, 17%, .35),
  -30px -30px 50px hsl(26, 37%, 96%, .15);
  
  --text-dark: hsl(217, 54.2%, 88%);
  --accent1-dark: hsl(175, 100%, 31%);
  --accent2-dark: hsl(21, 84%, 56%);
  --accent3-dark: hsl(40, 89%, 65%);
  --bkg1-dark: hsl(218, 15.4%, 10.2%);
  --bkg2-dark: hsl(218, 14.7%, 18.7%);
  
/*   --shadow-dark: 20px 20px 50px hsl(255, 36%, 17%, .35),
  -30px -30px 50px hsl(26, 37%, 96%, .15); <-- THIS IS WHAT I SHOWED YOU IN THE VIDEO */
  --shadow-dark: 20px 20px 50px hsl(255, 36%, 17%, .35),
  -30px -30px 50px hsl(26, 37%, 26%, .15);
  
/* ^ this is what I have in the final code at codinginpublic.dev/projects/light-dark/ 
  I missed the change from 96% lightness in the second box-shadow to 26% lightness when doing the video
  */
}

@media(prefers-color-scheme: dark){
  :root {
    --text: var(--text-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
    --accent3: var(--accent3-dark);
    --bkg1: var(--bkg1-dark);
    --bkg2: var(--bkg2-dark);
    --shadow: var(--shadow-dark);
  }
}

@media(prefers-color-scheme: light){
  :root {
    --text: var(--text-light);
    --accent1: var(--accent1-light);
    --accent2: var(--accent2-light);
    --accent3: var(--accent3-light);
    --bkg1: var(--bkg1-light);
    --bkg2: var(--bkg2-light);
    --shadow: var(--shadow-light);
  }
}

[color-scheme="dark"]{
  --text: var(--text-dark);
  --accent1: var(--accent1-dark);
  --accent2: var(--accent2-dark);
  --accent3: var(--accent3-dark);
  --bkg1: var(--bkg1-dark);
  --bkg2: var(--bkg2-dark);
  --shadow: var(--shadow-dark);
}

[color-scheme="light"] {
  --text: var(--text-light);
  --accent1: var(--accent1-light);
  --accent2: var(--accent2-light);
  --accent3: var(--accent3-light);
  --bkg1: var(--bkg1-light);
  --bkg2: var(--bkg2-light);
  --shadow: var(--shadow-light);
}

/* utility classes */
/* text color */
.text {
  color: var(--text);
}
.accent1 {
  color: var(--accent1);
  fill: var(--accent1);
}

.accent1--stroke {
  stroke: var(--accent1);
}

.accent2 {
  color: var(--accent2);
  fill: var(--accent2);
}
.accent3 {
  color: var(--accent3);
  fill: var(--accent3);
}
.bkg1 {
  color: var(--bkg1);
}
.bkg2 {
  color: var(--bkg2);
}

.bkg2--stroke {
  stroke: var(--bkg2);
}

.bkg2--fill {
  fill: var(--bkg2);
}

/* link color */
.text-link {
  color: var(--text);
}
.accent1-link {
  color: var(--accent1);
}
.accent2-link {
  color: var(--accent2);
}
.accent3-link {
  color: var(--accent3);
}
.bkg1-link {
  color: var(--bkg1);
}
.bkg2-link {
  color: var(--bkg2);
}

/* background color */

.text-bg {
  background-color: var(--text);
}
.accent1-bg {
  background-color: var(--accent1);
}
.accent2-bg {
  background-color: var(--accent2);
}
.accent3-bg {
  background-color: var(--accent3);
}
.bkg1-bg {
  background-color: var(--bkg1);
}
.bkg2-bg {
  background-color: var(--bkg2);
}

/* text sizing */

.text-small {
  font-size: clamp(.8rem, 0.43409097rem + 1.672727vw, 1.375rem);
  text-transform: uppercase;
  margin-bottom: -1.3rem;
}

/* components */

.btn {
  padding: .8rem 1.5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  max-width: max-content;
  box-shadow: 4px 4px var(--text);
  text-decoration: none;
  transition: all 200ms cubic-bezier(1, -0.04, 0, 1.21);
}

.btn:is(:hover, :focus){
  transform: translate(4px, 4px);
  box-shadow: none;
}

/* styling */

nav {
  padding: 2rem 2rem 1rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: clamp(160px, 69.2307695px + 23.076923vw, 300px);
  background-color: var(--bkg1);
  position: relative;
}

.theme {
  background-color: var(--text);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid var(--bkg1);
  cursor: pointer;
  display: grid;
  place-items: center;
}

.theme:is(:hover, :focus){
  background-color: var(--accent1);
  opacity: .8;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  background-color: var(--bkg1);
}

main {
  display: grid;
  gap: clamp(2rem, 1.72727269rem + 5.818182vw, 5rem);
  overflow: hidden;
}

h1, h2, h3, .h2, .h3, .h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}

h2, .h2 {
  font-size: clamp(2rem, 0.6875rem + 6vw, 4.0625rem);
  line-height: 1.1;
}

h3, .h3 {
  font-size: clamp(1.3rem, 0.47272731rem + 3.781818vw, 2.6rem);
}

h4, .h4 {
  font-size: clamp(1.2rem, 0.30909097rem + 4.072727vw, 2.6rem);
}

.blob-container {
  position: absolute;
  right: 0;
}

.blob {
  position: absolute;
  right: 0;
  width: clamp(148px, -265.384617px + 121.538462vw, 50vw);
  z-index: -1;
}
.symbols {
  position: absolute;
  z-index: -1;
  width: clamp(180px, -209.2307695px + 116.923077vw, 50vw);
  right: clamp(0px, -76.923078px + 27.692308vw, 120px);
  top: clamp(20px, -38.461539px + 13.846154vw, 60px);
  transition: all 250ms ease-in-out;
}

.arrow {
  position: absolute;
  z-index: -1;
}

.method-arrow {
  width: clamp(100px, -115.384617px + 61.538462vw, 500px);
  top: -8rem;
  left: -1rem;
}

.option-arrow {
  width: clamp(130px, -123.076922px + 72.307692vw, 600px);
  top: -6rem;
  right: -1rem;
  left: inherit;
  transform: scaleX(-1);
}

section, header {
  position: relative;
  padding: 0 2rem;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: -2rem auto 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.meet {
  margin-top: clamp(1rem, -0.27272731rem + 5.818182vw, 3rem);
  grid-area: 1/1/2/2;
  max-width: 500px;
  display: grid;
  grid-gap: 1.4rem;
}

.meet h2 {
  max-width: 60vw;
}

.meet-img {
 grid-area: 2/1/3/2;
 justify-self: end;
 display: grid;
 grid-template-columns: 4rem 1fr 2rem;
 width: clamp(250px, 142.3076915px + 30.769231vw, 450px);
}

.meet-img__teacher {
  width: 100%;
  grid-area: 1/2/3/4;
  box-shadow: var(--shadow);
}

.btn-connect {
  grid-area: 2/1/3/3;
  width: max-content;
  max-width: 100%;
  height: max-content;
  position: relative;
  text-align: right;
  bottom: clamp(1rem, -1.54545463rem + 11.636364vw, 5rem);
}

.method, .options {
  display: grid;
  grid-gap: 2rem;
  text-align: center;
}

.options {
  text-align: left;
}

.method-header, .options-header {
  max-width: 540px;
  margin: auto;
  display: grid;
  grid-gap: 1.4rem;
}

.options-header {
  margin: 0;
}

.cards {
  max-width: 900px;
  justify-content: center;
  align-items: center;
  margin: auto;
  gap: 5rem 2rem;
  padding: 3rem 0 0;
  display: flex;
  flex-wrap: wrap;
}

.card {
  max-width: 270px;
  display: grid;
  grid-gap: .5rem;
  padding: 3rem 2rem 2rem;
  border-radius: 15px;
  border-bottom: 5px solid var(--accent3);
  position: relative;
}

.card span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 50%;
  border: 8px solid var(--bkg1);
  line-height: .75;
  font-size: clamp(1.3rem, 0.47272731rem + 3.781818vw, 2.6rem);
  width: clamp(4rem, 2.72727269rem + 5.818182vw, 6rem);
  height: clamp(4rem, 2.72727269rem + 5.818182vw, 6rem);
}

.options-card {
  max-width: 360px;
  border-bottom: 5px solid var(--accent2);
  grid-template-rows: 1rem 1fr;
  text-align: center;
}

.options-card span{
  max-width: 360px;
  border-radius: 15px;
  padding: 1.5rem 2rem;
  transform: translate(-50%, -100%);
  width: max-content;
  height: max-content;
  position: relative;
}

.connect {
  padding: 3rem 2rem;
  margin-top: 3rem;
}

.connect-form {
  max-width: 500px;
  position: relative;
  border: 12px solid var(--bkg1);
  border-radius: 10px;
  padding: 1.5rem 3rem;
  margin: -6rem auto 0;
  display: grid;
  grid-gap: .5rem;
}

.connect-form form {
  width: 100%;
  margin-top: 1rem;
}

[type="email"]{
  padding: .5rem;
  border: 3px solid var(--bkg2);
}

[type="submit"]{
  padding: .5rem 1rem;
  border: 3px solid var(--bkg2);
  border-radius: 0;
  color: var(--text);
  background-color: var(--bkg2);
  margin-left: -5px;
  cursor: pointer;
}

footer div {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footer-icons {
  transition: all 250ms ease-in-out;
}

.footer-icons:hover {
  transform: rotate(15deg) scale(1.1);
  filter: drop-shadow(1px 1px 1px var(--text));
}


@media only screen and (max-width: 1075px){
  header {
    display: grid;
    grid-template: auto auto / 1fr;
  }
}

@media only screen and (max-width: 520px){
  nav {
    padding: 1rem 2rem;
  }
  
  .cards {
    gap: 3rem 2rem;
  }
  [type="email"]{
    width: 100%;
  }
  [type="submit"]{
    margin: 0;
    width: 100%;
    background-color: var(--bkg2);
  }
}

@media only screen and (max-width: 420px){
  .blob-container {
    display: none;
  }
  .connect-form {
    padding: 1.5rem;
  }
}
